#!/bin/sh

if [ ! -f "{{ .chezmoi.configFile }}" ]; then
    mkdir -p "$(dirname "{{ .chezmoi.configFile }}")"
    {
        chezmoi execute-template --init < "{{ .chezmoi.sourceDir }}/.chezmoitemplates/chezmoi.toml.tmpl"
        printf '\n'
    } > "{{ .chezmoi.configFile }}"
    chmod 644 "{{ .chezmoi.configFile }}"
fi
